@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
*{
    font-family: 'Source Sans Pro', sans-serif;
}
#preloader{
    background: url(../img/logo.png) no-repeat center center;
    background-size: 200px;
    /* position: fixed; */
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.preloader{
    visibility: hidden;
    display: none;
}
.fa-bell{
    font-size: 20px;
}
#top-nav{
    border-radius: 0 0 15px 15px;
}
/* sidebar */
#main{
    position: relative;
}
.bg-profile{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.text-purple{
    color: #8b00dc;
}
.ease-left-in .login-btn, .ease-left-in .login-btn:hover{
    text-decoration: none;
    color: #8b00dc;
    font-size: 16px;
    padding: 0;
}
.ease-left-in .fa-user-circle{
    font-size: 45px;
}
.ease-left-in img{
    width: 45px;
    border-radius: 50%;
}
.sidebar {
    height: 100%; /* Make the sidebar take up the full height of the viewport */
    width: 250px; /* Set the width of the sidebar */
    position: absolute; /* Make the sidebar fixed position */
    top: 0; /* Position it at the top of the viewport */
    left: -250px; /* Position it at the left of the viewport */
    background: linear-gradient(90deg, rgba(220,158,255,1) 0%, rgba(255,193,253,1) 50%, rgba(232,173,255,1) 100%);
    padding-top: 20px; /* Add some padding at the top */
    z-index: 10;
    transition-duration: .6s;
    display: none;
    transition-delay: .6s;
}
.ease-left-in{
    display: block;
    height: 100%; /* Make the sidebar take up the full height of the viewport */
    width: 250px; /* Set the width of the sidebar */
    position: absolute; /* Make the sidebar fixed position */
    top: 0; /* Position it at the top of the viewport */
    left: 0px; /* Position it at the left of the viewport */
    background: linear-gradient(90deg, rgba(220,158,255,1) 0%, rgba(255,193,253,1) 50%, rgba(232,173,255,1) 100%);
    padding-top: 20px; /* Add some padding at the top */
    z-index: 10;
    transition-duration: .6s;
    transition-delay: .6s;
}

.ease-left-in a {
    padding: 10px 15px; /* Add padding to the links */
    text-decoration: none; /* Remove underline from the links */
    font-size: 25px; /* Set font size */
    color: #818181; /* Color of the links */
    display: block; /* Display links as block elements to take full width */
}

/* Style for the links on hover */
.nav-links .link{
    font-size:16px;
    text-decoration: none;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
    color: #8b00dc;
}
.nav-links .link:hover{
    text-decoration: none;
    color: #8b00dc;
    padding-left: 7px;
    transition-duration: .6s;
}
.link .fas{
    font-size: 20px;
}
/* sidebar */
.footer-border{
    border-radius: 15px 15px 0 0;
}
.footer-link{
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.active{
    background-color: #fff;
    color: #8b00dc;
    box-shadow: 2px 3px 4px #000;
}
.footer-link:hover{
    background-color: #fff;
    color: #8b00dc;
    box-shadow: 2px 3px 4px #000;
    transform: scale(1.2);
    transition-duration: 0.6s;
}
.footer-link i{
    font-size: 20px;
}

.main-background{
    background: linear-gradient(90deg, rgba(237,205,255,1) 0%, rgba(255,255,255,1) 50%, rgba(238,195,255,1) 100%);
}


.bg-purple{
    background: linear-gradient(90deg, rgba(166,0,255,1) 0%, rgba(110,3,162,1) 50%, rgba(157,2,218,1) 100%);
}
.carousel-inner{
    position: relative;
}
marquee{
    position: absolute;
    bottom: 5px;
    background-color: rgba(98, 98, 98, 0.561);
    color: #fff;
}
